@charset "UTF-8";

@font-face {
    font-family:'Pixel';
    src: url('../PixelifySans-VariableFont_wght.ttf') format('truetype');
}

* {
    padding: 5px;
    border: 0px;
    font-family: 'Pixel', sans-serif;
    font-size: 25px;
}

body {
    color: aliceblue;
    background-color: black
}

.btnSaida {
    text-decoration: none;
    font-size: 50px;
    color: aliceblue;
    cursor: pointer;
}

.btnSaida:hover {
    font-size: 55px;
}

h1 {
    font-size: 50px;
}

p {
    width: 100%;
}

u {
    color: brown;
}

a {
    color: brown;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}