@charset "UTF-8";

* {
    padding: 0px;
    border: 0px;
}

@font-face {
    font-family: 'Pixel';
    src: url('PixelifySans-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: black;
    color: aliceblue;
    font-family: 'Pixel', sans-serif;
    position: absolute;
    left: 57%;
    transform: translate(-40%)
}

main {
    position: relative;
    padding: 20px;
}

.carta {
    position: relative;
    width: 250px;
}

button {
    position: absolute;
    left: 45px;
    top: 220px;
    padding: 25px;
    width: 150px;
    background-color: rgb(248, 255, 184);
}

p {
    position: relative;
    padding: 20px;
    width: 150%;
    left: -50%;
    font-size: 25px;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}