@charset "UTF-8";

@font-face {
    font-family: 'Pixel';
    src: url('PixelifySans-VariableFont_wght.ttf') format('truetype');
}

* {
    padding: 0px;
    border: 0px;
}

body {
    background-color: black;
    color: aliceblue;
    font-family: 'Pixel', sans-serif;
}

img {
    position: relative;
    width: 370px;
    padding: 35px;
    background-position: center;
    left: 20%;
    display: inline-block;
  
    
}

button {
    background-color: brown;
    position: relative;
    font-family: 'Pixel', sans-serif;
    padding: 10px;
    width: 100px;
    top: 50%;

}