@charset "UTF-8";

@font-face {
    font-family:'Pixel';
    src: url('PixelifySans-VariableFont_wght.ttf') format('truetype');
}

* {
    border: 0px;
    padding: 0px;
    font-family: 'Pixel', sans-serif;
}

body {
    background-color: black;
}

img {
    position: relative;
    display: flex;
    width: 100%;
    height: 720px;
}

main {
    text-align: center ;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    position: absolute;

}

a:hover {
    color: burlywood;
    text-align: center;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: rgb(255, 254, 235);
}
