@charset "UTF-8";

@font-face {
    font-family: 'Pixel';
    src: url('../PixelifySans-VariableFont_wght.ttf') format('truetype');
}

* {
    padding: 0px;
    border: 0px;
}


body {
    background-color: black;
    color: aliceblue;
    font-family: 'Pixel', sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-40%)
}

a:hover {
    font-size: 55px;
}

.btnSaida {
    text-decoration: none;
    text-align: 50px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: -100px;
}

main {
    position: relative;
    padding: 20px;
}

.carta {
    position: relative;
    width: 250px;
}

button {
    position: absolute;
    left: 50px;
    top: 220px;
    padding: 25px;
    width: 150px;
    background-color: rgb(248, 255, 184);
}

p {
    position: relative;
    padding: 20px;
    width: 130%;
    left: -20%;
    font-size: 25px;
}

p:hover {
    font-size: 30px;
}

span {
    color: brown;
}

@media (min-width: 720px) {

    .btnSaida {
        margin: -230px;
    }

    p {
        width: -250%;
    }
}

@media (min-width: 1200px) {

    .btnSaida {
        margin: -430px;
    }

    .carta {
        left: 50px;
    }

    button {
        left: 100px;
    }

    p {
        width: 180%;
    }
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(-30px);
    transition: all 2s;
}