@charset "UTF-8";

@font-face {
    font-family: 'Pixel';
    src: url('PixelifySans-VariableFont_wght.ttf') format('truetype');
}

* {
    padding: 0px;
    border: 0px;
}

body {
    background-color: black;
    color: aliceblue;
    font-family: 'Pixel', sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-40%)
}

main {
    position: relative;
    padding: 20px;
}

.carta {
    position: relative;
    width: 250px;
}

button {
    position: absolute;
    left: 50px;
    top: 220px;
    padding: 25px;
    width: 150px;
    background-color: rgb(248, 255, 184);
}

p {
    position: relative;
    padding: 20px;
    width: 150%;
    left: -50%;
    font-size: 25px;
}

@media (min-width: 720px) {

    
    p {
        width: -250%;
    }
}

@media (min-width: 1200px) {

    .carta {
        left: 50px;
    }

    button {
        left: 100px;
    }

    p {
        width: 180%;
    }
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(-30px);
    transition: all 2s;
}