@charset "UTF-8";

@font-face {
    font-family: 'Pixel';
    src: url('../PixelifySans-VariableFont_wght.ttf') format('truetype');
}

* {
    padding: 0px;
    border: 0px;
}

body {
    position: relative;
    background-color: black;
    color: aliceblue;
    font-family: 'Pixel', sans-serif;
    left: 10%;
    height: 100vh;
    overflow-x: hidden;
}

a:hover {
    width: 0px;
    color: brown;
}

.btnSaida {
    text-decoration: none;
    text-align: 50px;
    cursor: pointer;
}

header > h1 {
   text-align: center;
   position: relative;
   top: 0px;
   left: -50px;
   font-size: 50px;
}

.fita {
    text-align: center;
}

img {
    position: relative;
    width: 370px;
    padding: 35px;
    background-position: center;
    left: -10%;
}

div {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

button {
    background-color: brown;
    position: relative;
    font-family: 'Pixel', sans-serif;
    padding: 10px;
    left: 110px;
    width: 100px;
    cursor: pointer;
}

button:hover {
    padding: 15px;
    background-color: antiquewhite;
}

h1 {
    position: absolute;
    left: 50px;
    top: 138px;
    text-align: center;
}

a {
    color: rgb(255, 201, 129);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: brown;
    font-size: 35px;
}

p {
    position: relative;
    text-align: center;
    font-size: 20px;
    width: 50%;
    left: 45px;
}

@media (min-width: 720px) {

    button {
        left: -325px;
    }

    p {
        left: 35px;
    }

    .reverterText {
        left: -30px;
    }

    .reverterBtn {
        right: -20px;
    }
}

@media (min-width: 1200px) {
    
    header > h1 {
        left: -170px;
    }

    .fita {
        left: 120px;
    }

    h1 {
        left: 220px;
    }
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}