@charset "UTF-8";

@font-face {
    font-family: 'Pixel';
    src: url('../PixelifySans-VariableFont_wght.ttf') format('truetype');
}

* {
    padding: 0px;
    border: 0px;
}

body {
    font-family: 'Pixel', sans-serif;
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    overflow-y: hidden;
}

.btnSaida {
    text-decoration: none;
    text-align: 50px;
    cursor: pointer;
}

.carta {
    left: 10%;
    width: 450px;
    position: relative;
    
}

.voce {
    width: 300px;
    top: -50%;
    left: -75px;
    border: red solid 5px;
    background-position: center;
}

.cadastre {
    position: relative;
}

.cadastre2 {
    position: relative;
}

.enviar {
    position: relative;
    width: 300px;
    height: 50px;
    top: 70px;
}

.mensagem {
    position: relative;
    top: 35px;
}

.enviar:hover {
    background-color: rgb(255, 57, 57);
}

button{
    position: relative;
    padding: 2px;
    font-size: 20px;
    top: 80px;
    background-color: black;
}

a {
    text-decoration: none;
    background-color: aliceblue;
    color: black;
    width: 0px;
    height: 0px;
}

a:hover {
    color: brown;
}

strong {
    color: brown;
}